<!DOCTYPE html>
<html>
<head lang="en">
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 60%;
            margin: auto;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css1")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="~/Content/img/logo.jpg" style="height:100%;" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Web</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <p>&copy; 2016 7Bros. All rights reserved.</p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
